@use "../helpers/index" as *;

.landing {
  padding-top: $padding + 50px;
  padding-bottom: $padding;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .left-section {
      display: flex;
      flex-direction: column;
      gap: 50px;
      flex-basis: 45%;
      .text {
        h1 {
          color: $main-textColor;
          margin: 15px 0px;
          line-height: 1.5;
        }
        p {
          color: $alt-textColor;
          line-height: 1.8;
        }
      }
        .buttons-landing {
        display: flex;
        align-items: center;
        gap: 30px;
      }

      .status {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .status-elements {
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          gap: 8px;
          & span:nth-child(1) {
            color: $main-textColor;
            font-size: 30px;
            font-weight: bold;
          }

          & span:nth-child(2) {
            color: $alt-textColor;
          }
        }
      }
    }
    
    .right-section {
      flex-basis: 45%;
      .image {
        animation: opacity 4s linear infinite both;
        .landing-img {
          transition: 1s;
          // box-shadow: 14px 14px 14px 0px #483e53b6;
          border-radius: 20px;
          filter: drop-shadow(10px 10px 30px #a24bf862);
          // filter:opacity(.5);
        }
      }
    }

    .bottom-section {
      margin-top: 60px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      gap: 30px;
      flex-basis: 100%;
      img {
        margin: 0 auto;
        width: 200px;
        // filter: drop-shadow(8px 10px 5px black);
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .landing {
    padding-top: $padding;
    text-align: center;
    .container {
      flex-direction: column;
      .left-section {
        align-items: center;
        margin-bottom: 30px;
        .text {
          h1 {
            font-size: 25px;
          }
        }
  
        .status {
          gap: 30px;
        }
      }
      .right-section {
        .image {
          .landing-img {
            max-width: 100%;
            transition: 1s;
            // box-shadow: 14px 14px 14px 0px #483e53b6;
            border-radius: 20px;
            filter: drop-shadow(10px 10px 30px #a24bf862);
            filter:opacity(.5);
          }
        }
      }
    
      .bottom-section {
        margin-top:30px;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        img {
          margin: 0 auto;
          width: 200px;
        }
      }
    }
  }
}

@keyframes opacity {
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}