@use "../helpers/index" as*;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: $font;
  background-image: linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%);
  background-size: cover;
}