// Colors
$main-color: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);
$second-color: #ffffff1a;
$purple: #A24BF8;

// Font
$font: 'Poppins', sans-serif;
$main-textColor: #FFFFFF;
$alt-textColor: rgba(255, 255, 255, 0.5);

// Sections 
$padding: 60px;

// background: linear-gradient(214.02deg, #B75CFF 6.04%, #671AE4 92.95%);
// linear-gradient(113.49deg, #984D38 -30.3%, #181E41 58.12%);